body{
    font-family: 'Varela Round', sans-serif;
    font-size: 14px;
}
.header__top{
    font-size: 11px;
    background: rgb(249, 250, 254);
    height: 35px;
}
.header__top-chat a{
    padding-left: 5px;
    color: black;
    text-decoration: none;
}
.header__top-chat{
    padding: 8px;
    float: right;
}
.header__top-chat a:hover{
    text-decoration: none;
    color:black;
}
.header__logo{
    padding-top:20px;
}
.header__menu{
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 10px;
    padding-top:35px;
}
.header__menu ul li{
    list-style: none;
    padding: 10px;
}
.header__menu a{
    text-decoration: none;
    color: #3a3a3a;
}
.header__menu a:hover{
    color: blue;
    text-decoration: none;
}
.button{
    padding-top: 40px;
    float: right;
}
.button__free{
    border: 2px solid blue;
    padding: 15px;
    border-radius: 30px;
    color: blue;
    font-weight: bold;
    
}
.button__free:hover{
    text-decoration: none;
    background: blue;
    color: #ffffff;
}
.button__call{
    font-weight: bold;
    border: 2px solid green;
    padding: 15px;
    border-radius: 30px;
    color: green;
}
.button__call:hover{
    text-decoration: none;
    background: green;
    color: #ffffff;
}
nav{
    padding-bottom: 60px;
}
.banner__img{
    width: 630px;
    height: 560px;
}
.banner__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    line-height: 1.6em;
    font-weight: 500;
    padding-top: 100px;
}
.banner__header{
    padding-bottom: 60px;
}
.welove{
    background: rgb(249, 250, 254);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.welove__title h1{
    font-size: 50px;
    line-height: 1.4em;
    text-shadow: 10px 10px 20px rgba(0,0,0,.11);
    padding-top: 50px;
}
.welove__title h2{
    font-size: 50px;
    font-weight: 400;
    line-height: 1.4em;
}
.welove__title p{
    font-size: 10px;
}
.welove__title a:hover{
    text-decoration: none;
    color: #000000;
}
.welove__btn{
    padding:50px 120px;
}
.welove__btn a{
    font-size: 16px;
    padding: 15px 50px 15px;
    border-radius: 30px;
    background: blue;
    color: #ffffff;
}
.welove__btn a:hover{
    color: #ffffff;
    text-decoration: none;
}
.help{
    background: blue;
    color: #ffffff;
    text-align: center;
}
.help h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 31px;
    line-height: 1;
    padding-top: 50px;
}
.help p{
    font-size: 10px;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.8;
    padding-top: 20px;
    padding-bottom: 50px;
}
.services{
    padding-bottom: 100px;
}
.services__title{
    text-align: center;
    padding-top: 50px;
}
.services__title h1{
    padding-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
}
.services__icon{
    float: left;
    padding-top: 40px;
}
.services__sutitle h3{
    font-size: 22px;
    line-height: 28px;
    padding-left: 100px;
    padding-top: 40px;
}
.services__text p{
    float: right;
    padding-left: 100px;
    font-size: 11px;
    line-height: 21px;
}
.services__text a:hover{
    text-decoration: none;
    color: black;
}
.worked{
    text-align: center;
    background: rgb(249, 250, 254); 
}
.worked__title h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
    padding-top: 40px;
}
.worked__slider{
    padding-bottom: 40px;
}
.portfolio__title h1{
    text-align: center;
    font-weight: 700;
    font-size: 31px;
    padding-top: 60px;
}
.portfolio__cart{
    padding-top: 20px;
}
.portfolio{
    padding-bottom: 60px;
}
.portfolio__cart img{
    padding-top: 10px;
    padding-left: 10px;
}
.portfolio__btn{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 60px;
}
.portfolio__btn a{
    font-size: 16px;
    padding: 15px 50px 15px;
    border-radius: 30px;
    background: blue;
    color: #ffffff;
}
.portfolio__btn a:hover{
    color: #ffffff;
    text-decoration: none;
}
.follow{
    background: rgb(249, 250, 254);
    padding-bottom: 60px;
}
.follow__title h1{
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 60px;
}
.follow__cart{
    text-align: center;
    padding: 60px 60px 60px;
    background: #ffffff;
    box-shadow: 0px 0px 8px -4px rgba(0,0,0,.5);
}
.follow__namber{
    text-align: center;
    font-weight: 700;
    padding-bottom: 10px;
}











.ranking__title h1{
    font-size: 31px;
    font-weight: 700;
    text-align: center;
}
.ranking img{
    padding-left: 20px;
}
.features{
    padding-bottom: 70px;
}
.features__titles{
    text-align: center;
    padding-top: 75px;
}
.features__titles h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 31px;
}
.features__titles p{
    font-size: 10px;
    font-weight: 500px;
}
.features__icon{
    float: left;
    padding-top: 40px;
}
.features__sutitle h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    padding-left: 100px;
    padding-top: 40px;
}
.features__text p{
    float: right;
    padding-left: 100px;
    font-size: 11px;
    line-height: 21px;
}
.technologi{
    text-align: center;
    background: rgb(249, 250, 254); 
    padding-bottom: 75px;
}
.technologi__title h1{
    font-size: 40px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 30px;
    padding-top: 40px;
}